body {
  font-family: 'Tangerine', serif;
  font-weight: 300;
  margin: 8px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-weight:bold;
  color:#00264a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

books {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
}

.book {
    display: block;
    padding: 16px;
    -webkit-box-shadow: 0 1px 13px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 13px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none;	
	overflow: hidden;
    height: 600px;
    line-height: 25px;
	text-overflow: ellipsis;
}
.book h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#691e7c;
}

.book a,
.book a:visited {
  text-decoration: none;
  color: inherit;
}

.search {
	width: 100%;
	float:left;
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: monospace;
    border: thin solid #ff00d0;
	padding: 5px;
	background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
	fill: #0000ff;
}
.audio{
    position: relative;
    float: right;
    background-image: url(images/icons/audio.svg);
    background-size: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-bottom: 10px;
    background-repeat: no-repeat;
	margin-top: 5px;
}

.topsection {
	background-color: #c33c7c;
    padding: 15px;
}


#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:100px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:85%;
}

#right {
    float:right;
    width:70px;
}

.location_info {
	color:#e6ccdc;
	text-align: right;
	font-family: "Trebuchet MS";
    font-size: 16pt;
}

.offline{
    float: right;
    background-image: url(images/offline.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.online{
    float: right;
    background-image: url(images/online.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}